.container {
  background-color: #FFC107;
  padding: 20px;
  text-align: center;
}

.form-control {
  background-color: #e0e0e0;
  height: 40px;
  width: 300px;
  border-radius: 10px;
  font-size: 18px;
  padding-left: 10px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  transition: all 0.5s ease;
}

button:hover {
  transform: scale(1.1);
}

.list-group-item {
  background-color: #e0e0e0;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
  font-size: 18px;
}

input[type="checkbox"] {
  margin-right: 10px;
}